// set key value pairs for margin and padding
@each $prop, $letter in (margin: m, padding: p) {
  // loop through top, right, bottom, and left
  @each $direction, $d in $xy-border {
    // loop through the spacers we've set
    @each $unit, $rem in $spacers {
      .#{$letter}#{$d}-#{$unit} {
        #{$prop}-#{$direction}: #{$rem} !important;
      }

      // add in x-axis and y-axis spacing
      .#{$letter}x-#{$unit} {
        #{$prop}-left: $rem !important;
        #{$prop}-right: $rem !important;
      }
      .#{$letter}y-#{$unit} {
        #{$prop}-top: $rem !important;
        #{$prop}-bottom: $rem !important;
      }
    }
  }

  @each $unit, $rem in $spacers {
    // add both x-axis and y-axis spacing
    .#{$letter}a-#{$unit} {
      #{$prop}: $rem !important;
    }
  }
}
