/* Utilities */
.w-100 {
    width: 100% !important;
}

@each $key, $val in map-get($grid, 'breakpoints') {
    @if ($key == 'default') {
        .flex-row            { flex-direction: row !important; }
        .flex-column         { flex-direction: column !important; }
        .flex-row-reverse    { flex-direction: row-reverse !important; }
        .flex-column-reverse { flex-direction: column-reverse !important; }

        .flex-wrap         { flex-wrap: wrap !important; }
        .flex-nowrap       { flex-wrap: nowrap !important; }
        .flex-wrap-reverse { flex-wrap: wrap-reverse !important; }

        .flex-grow { flex-grow: 1 !important; }
        .flex-shrink { flex-shrink: 1 !important; }

        .justify-content-start   { justify-content: flex-start !important; }
        .justify-content-end     { justify-content: flex-end !important; }
        .justify-content-center  { justify-content: center !important; }
        .justify-content-between { justify-content: space-between !important; }
        .justify-content-around  { justify-content: space-around !important; }

        .align-items-start    { align-items: flex-start !important; }
        .align-items-end      { align-items: flex-end !important; }
        .align-items-center   { align-items: center !important; }
        .align-items-baseline { align-items: baseline !important; }
        .align-items-stretch  { align-items: stretch !important; }

        .align-content-start   { align-content: flex-start !important; }
        .align-content-end     { align-content: flex-end !important; }
        .align-content-center  { align-content: center !important; }
        .align-content-between { align-content: space-between !important; }
        .align-content-around  { align-content: space-around !important; }
        .align-content-stretch { align-content: stretch !important; }

        .align-self-auto     { align-self: auto !important; }
        .align-self-start    { align-self: flex-start !important; }
        .align-self-end      { align-self: flex-end !important; }
        .align-self-center   { align-self: center !important; }
        .align-self-baseline { align-self: baseline !important; }
        .align-self-stretch  { align-self: stretch !important; }

        .ml-auto { margin-left: auto !important; }
        .mr-auto { margin-right: auto !important; }
        .mt-auto { margin-top: auto !important; }
        .mb-auto { margin-bottom: auto !important; }

        .d-none         { display: none !important; }
        .d-inline       { display: inline !important; }
        .d-inline-block { display: inline-block !important; }
        .d-block        { display: block !important; }
        .d-table        { display: table !important; }
        .d-table-row    { display: table-row !important; }
        .d-table-cell   { display: table-cell !important; }
        .d-flex         { display: flex !important; }
        .d-inline-flex  { display: inline-flex !important; }

        .text-left   { text-align: left !important; }
        .text-center  { text-align: center !important; }
        .text-right { text-align: right !important; }
    } @else {
        @media (min-width: $val * 1px) {
            .flex-#{$key}-row            { flex-direction: row !important; }
            .flex-#{$key}-column         { flex-direction: column !important; }
            .flex-#{$key}-row-reverse    { flex-direction: row-reverse !important; }
            .flex-#{$key}-column-reverse { flex-direction: column-reverse !important; }

            .flex-#{$key}-wrap         { flex-wrap: wrap !important; }
            .flex-#{$key}-nowrap       { flex-wrap: nowrap !important; }
            .flex-#{$key}-wrap-reverse { flex-wrap: wrap-reverse !important; }

            .flex-#{$key}-grow { flex-grow: 1 !important; }
            .flex-#{$key}-shrink { flex-shrink: 1 !important; }

            .justify-content-#{$key}-start   { justify-content: flex-start !important; }
            .justify-content-#{$key}-end     { justify-content: flex-end !important; }
            .justify-content-#{$key}-center  { justify-content: center !important; }
            .justify-content-#{$key}-between { justify-content: space-between !important; }
            .justify-content-#{$key}-around  { justify-content: space-around !important; }

            .align-items-#{$key}-start    { align-items: flex-start !important; }
            .align-items-#{$key}-end      { align-items: flex-end !important; }
            .align-items-#{$key}-center   { align-items: center !important; }
            .align-items-#{$key}-baseline { align-items: baseline !important; }
            .align-items-#{$key}-stretch  { align-items: stretch !important; }

            .align-content-#{$key}-start   { align-content: flex-start !important; }
            .align-content-#{$key}-end     { align-content: flex-end !important; }
            .align-content-#{$key}-center  { align-content: center !important; }
            .align-content-#{$key}-between { align-content: space-between !important; }
            .align-content-#{$key}-around  { align-content: space-around !important; }
            .align-content-#{$key}-stretch { align-content: stretch !important; }

            .align-self-#{$key}-auto     { align-self: auto !important; }
            .align-self-#{$key}-start    { align-self: flex-start !important; }
            .align-self-#{$key}-end      { align-self: flex-end !important; }
            .align-self-#{$key}-center   { align-self: center !important; }
            .align-self-#{$key}-baseline { align-self: baseline !important; }
            .align-self-#{$key}-stretch  { align-self: stretch !important; }

            .ml-#{$key}-auto { margin-left: auto !important; }
            .mr-#{$key}-auto { margin-right: auto !important; }
            .mt-#{$key}-auto { margin-top: auto !important; }
            .mb-#{$key}-auto { margin-bottom: auto !important; }

            .d-#{$key}-none         { display: none !important; }
            .d-#{$key}-inline       { display: inline !important; }
            .d-#{$key}-inline-block { display: inline-block !important; }
            .d-#{$key}-block        { display: block !important; }
            .d-#{$key}-table        { display: table !important; }
            .d-#{$key}-table-row    { display: table-row !important; }
            .d-#{$key}-table-cell   { display: table-cell !important; }
            .d-#{$key}-flex         { display: flex !important; }
            .d-#{$key}-inline-flex  { display: inline-flex !important; }

            .text-#{$key}-left   { text-align: left !important; }
            .text-#{$key}-center { text-align: center !important; }
            .text-#{$key}-right  { text-align: right !important; }
        }
    }
}

/* Text colors */
@each $name, $color in $theme-colors {
    .#{$name} {
        color: $color !important;
    }

    .bg-#{$name} {
        background-color: $color;
    }
}

/* Clearfix */
.clearfix {
    @include clearfix;
}

/* Text */
.text-uppercase {
    text-transform: uppercase !important;
}

/* Font */
.fw-light {
    font-weight: 300 !important;
}

.fw-normal {
    font-weight: 400 !important;
}

.fw-semiBold {
    font-weight: 600 !important;
}

.fw-bold {
    font-weight: 700 !important;
}
