.todo-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include media(">=md") {
    height: calc(100% - 53px); // height of .app-title
    overflow-y: auto;
  }
}

.todo-list__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todo-list__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding: 15px;
  background-color: $gray-300;
}