.todo-item {
  border: $input-border-width solid $input-border-color;
  border-radius: $border-radius;
}

.todo-item__content {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  
}

.todo-item__actions {
  margin-left: auto;
}

.todo-item__checkbox {
  margin-right: 1rem;
}

.todo-item__detail {
  padding: 15px;
  border-top: $input-border-width solid $input-border-color;
}