.#{$prefix}datepicker__panel {
  @include box-shadow($box-shadow);
  background-color: #fff;
  padding: 6px 12px;
  display: none;
  width: 248px;
  border-radius: $border-radius;
  z-index: map-get($z-index, 'dropdown');
}

.#{$prefix}datepicker__panel[data-show] {
  display: block;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

#arrow::before {
  content: '';
  transform: rotate(45deg);
  background: #333;
}

.#{$prefix}datepicker__panel[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

.#{$prefix}datepicker__panel[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

.#{$prefix}datepicker__panel[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

.#{$prefix}datepicker__panel[data-popper-placement^='right'] > #arrow {
  left: -4px;
}