<template>
  <div
    v-click-outside="hidePickerPanel"
    :class="`${$configs.PREFIX}datepicker`"
  >
    <div :class="`${$configs.PREFIX}datepicker__control`">
      <v-input
        ref="input"
        v-model="inputValue"
        v-bind="$attrs"
        :class="`${$configs.PREFIX}datepicker__input`"
        @focus="handleFocusInput"
        @blur="handleBlurInput"
      />
    </div>

    <div
      ref="calendar"
      :class="`${$configs.PREFIX}datepicker__panel`"
      :data-show="pickerPanelVisible"
    >
      <v-calendar v-model="localValue" :disabledDate="disabledDate" />
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import { createPopper } from '@popperjs/core';
import { PREFIX, DATE_FORMAT } from '~/utils/configs';

export default {
  name: `${PREFIX}datepicker`,

  inheritAttrs: false,

  model: {
    prop: 'value',
    event: 'change',
  },

  props: {
    value: {
      type: Object,
      default: null,
    },
    format: {
      type: String,
      default: DATE_FORMAT,
    },
    disabledDate: {
      type: Function,
      default: null,
    },
  },

  data() {
    return {
      popperInstance: null,
      pickerPanelVisible: false,
      localValue: this.value,
      inputValue: this.value ? this.value.format(this.format) : '',
    };
  },

  watch: {
    value(newValue) {
      this.localValue = newValue;
    },

    localValue(newValue, oldValue) {
      // If user typing then click to panel
      // Force close panel for unexpected issues
      const oldValueFormated = oldValue ? oldValue.format(this.format) : '';
      if (oldValueFormated !== this.inputValue) {
        this.hidePickerPanel();
      }

      if (newValue) {
        this.inputValue = newValue.format(this.format);
      } else {
        this.inputValue = '';
      }

      this.$emit('change', newValue);
    },
  },

  methods: {
    createPickerPanel() {
      const { input, calendar } = this.$refs;
      this.popperInstance = createPopper(input.$el, calendar, {
        placement: 'bottom-start',
        modifiers: [
          {
            name: 'offset',
            options: {
              offset: [0, 8],
            },
          },
        ],
      });
    },

    destroyPickerPanel() {
      if (this.popperInstance) {
        this.popperInstance.destroy();
        this.popperInstance = null;
      }
    },

    showPickerPanel() {
      this.pickerPanelVisible = true;
      this.createPickerPanel();
    },

    hidePickerPanel() {
      this.pickerPanelVisible = false;
      this.destroyPickerPanel();
    },

    handleFocusInput() {
      if (!this.popperInstance) {
        this.createPickerPanel();

        this.$nextTick(() => {
          this.showPickerPanel();
        });
      }
    },

    handleBlurInput() {
      if (this.inputValue && this.localValue) {
        const currentInputMoment = moment(this.inputValue, this.format);
        const checkIsDisabled = this.disabledDate
          ? this.disabledDate(currentInputMoment.toDate())
          : false;
        if (currentInputMoment.isValid() && !checkIsDisabled) {
          this.localValue = currentInputMoment;
        } else {
          this.inputValue = this.localValue.format(this.format);
        }
      }
    },

    handleCalendarChange(value) {
      this.localValue = value;
    },
  },
};
</script>
