#app {
  margin-top: 40px;
  margin-bottom: 40px;
}

.app-content {
  padding: 15px;
  border: $input-border-width solid $input-border-color;
  border-radius: $border-radius;
  height: calc(100vh - 80px);

  > .row {
    height: 100%;
  }
}

.app-title {
  text-align: center;
  margin-bottom: 2rem;
}

.app-form-label {
  font-weight: $headings-font-weight;
}

.app-todo-list-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  height: 100%;

  @include media(">=md") {
    margin-top: 0;
  }
}
