<template>
  <div :class="`${PREFIX}calendar`">
    <div :class="`${PREFIX}calendar__nav`">
      <div :class="`${PREFIX}calendar__select-year`" @click="pickMode = PICK_MODES.YEAR">
        {{ MONTHS[month] }} {{ year }}
        <IconCalendarArrowDown class="icon fill-opacity-1" />
      </div>
      <div :class="`${PREFIX}calendar__nav-right`">
        <button :class="`${PREFIX}calendar__nav-btn`" @click="$_calendarMixin_prevMonth">
          <IconCalendarChevronLeft class="icon fill-opacity-1" />
        </button>
        <button :class="`${PREFIX}calendar__nav-btn`" @click="$_calendarMixin_nextMonth">
          <IconCalendarChevronRight class="icon fill-opacity-1" />
        </button>
      </div>
    </div>

    <div :class="`${PREFIX}calendar__calendar`">
      <v-calendar-date
        v-show="pickMode === PICK_MODES.DATE"
        :dates="dataDates"
        :is-match-date="localValue.isSame(new Date(year, month, date), 'month')"
        :active-dates="[this.localValue.date()]"
        @change="$_calendarMixin_handleChangeDate"
      />
      <v-calendar-month
        v-show="pickMode === PICK_MODES.MONTH"
        :value="month"
        :is-match-date="localValue.isSame(new Date(year, month, date), 'year')"
        @change="$_calendarMixin_handleChangeMonth"
      />
      <v-calendar-year
        v-show="pickMode === PICK_MODES.YEAR"
        :value="year"
        @change="$_calendarMixin_handleChangeYear"
      />
    </div>
  </div>
</template>

<script>
import moment from "moment";
import { PREFIX } from "~/utils/configs";
import calendarMixin from "~/mixins/calendar";
import IconCalendarChevronLeft from "~/assets/svg/calendar-chevron-left.svg?inline";
import IconCalendarChevronRight from "~/assets/svg/calendar-chevron-right.svg?inline";
import IconCalendarArrowDown from "~/assets/svg/calendar-arrow-down.svg?inline";

export default {
  name: `${PREFIX}calendar`,
  
  mixins: [calendarMixin],

  components: {
    IconCalendarChevronLeft,
    IconCalendarChevronRight,
    IconCalendarArrowDown
  },

  created() {
    this.PREFIX = PREFIX;
  }
};
</script>

