.#{$prefix}calendar {
  user-select: none;
}

.#{$prefix}calendar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.#{$prefix}calendar__select-year {
  display: flex;
  align-items: center;
  color: #1D243E;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;

  .icon {
      font-size: 2.4rem;
      margin-left: 0.3rem;
  }
}

.#{$prefix}calendar__nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 2.4rem;
  border: 0;
  background-color: transparent;

  &:focus {
      outline: none;
  }

  &:hover {
      color: #1D243E;
  }

  &:not(:last-child) {
      margin-right: 2rem;
  }
}

.#{$prefix}calendar__nav-right {
  display: flex;
}

.#{$prefix}calendar__calendar {
  position: relative;
  height: 22.4rem;
}