<template>
  <div class="todo-form">
    <v-input
      v-model="name"
      class="mb-4"
      :placeholder="mode === 'add' ? `Add new task...` : 'Task name...'"
    />

    <div class="mb-4">
      <label for="description" class="app-form-label">Description</label>
      <v-input v-model="description" id="description" textarea rows="6" />
    </div>

    <div class="row mb-5">
      <div class="col-md-6 mb-4">
        <label for="date" class="app-form-label">Due Date</label>
        <v-datepicker v-model="dueDate" id="date" :disabled-date="disableDateBefore" />
      </div>

      <div class="col-md-6 mb-4">
        <label for="priority" class="app-form-label">Priority</label>
        <v-select
          id="priority"
          :options="$constants.PRIORITY_OPTS"
          v-model="priority"
        />
      </div>
    </div>

    <v-button class="w-100" variant="primary" @click="submit">{{
      mode === 'add' ? 'Add' : 'Update'
    }}</v-button>
  </div>
</template>

<script>
import moment from 'moment';
import { DEFAULT_PRIORITY } from '~/utils/constants';
import { DATE_FORMAT } from '~/utils/configs';

export default {
  props: {
    mode: {
      type: String,
      default: 'add',
      validator: (value) => ['add', 'edit'].includes(value),
    },
    initialValues: {
      type: Object,
      default: (ctx) => ({
        id: new Date().getTime(),
        name: '',
        description: '',
        dueDate: moment().format(DATE_FORMAT),
        priority: DEFAULT_PRIORITY,
      }),
      validator: (value) =>
        ['id', 'name', 'description', 'dueDate', 'priority'].every(
          (key) => key in value
        ),
    },
  },

  data() {
    return {
      name: this.initialValues.name,
      description: this.initialValues.description,
      dueDate: moment(this.initialValues.dueDate, DATE_FORMAT),
      priority: this.initialValues.priority,
    };
  },

  methods: {
    submit() {
      const resetForm = () => {
        this.name = '';
        this.description = '';
        this.dueDate = moment().format(DATE_FORMAT);
        this.priority = DEFAULT_PRIORITY;
      };

      this.$emit('submit', {
        id: this.initialValues.id,
        name: this.name,
        description: this.description,
        dueDate: this.dueDate.format(DATE_FORMAT),
        priority: this.priority,
      }, resetForm);
    },

    disableDateBefore(dateObj) {
      if (dateObj instanceof Date) {
        let currentDate = new Date();
        // set to yesterday
        currentDate.setDate(currentDate.getDate() - 1);

        return dateObj < currentDate;
      }
      return false;
    }
  },
};
</script>
