<template>
  <div class="todo-item">
    <div class="todo-item__content">
      <input
        :id="id"
        class="todo-item__checkbox"
        type="checkbox"
        @input="handleCheck"
      />
      <label :for="id" class="todo-item__title">{{ data.name }}</label>
      <div class="todo-item__actions">
        <v-button variant="info" class="mr-2" @click="showDetail = !showDetail"
          >Detail</v-button
        >
        <v-button variant="danger" @click="remove">Remove</v-button>
      </div>
    </div>

    <div class="todo-item__detail" v-if="showDetail">
      <TodoForm mode="edit" :initialValues="data" @submit="submitEdit" />
    </div>
  </div>
</template>

<script>
import TodoForm from '~/components/TodoForm.vue';

export default {
  components: {
    TodoForm,
  },

  props: {
    id: {
      type: [String, Number],
      required: true,
    },
    data: {
      type: Object,
      default: () => ({}),
      validator: (value) =>
        ['id', 'name', 'description', 'dueDate', 'priority'].every(
          (key) => key in value
        ),
    },
  },

  data() {
    return {
      showDetail: false,
    };
  },

  methods: {
    remove() {
      this.$emit('remove', this.data.id);
    },

    submitEdit(data) {
      const hideDetail = () => (this.showDetail = false);
      this.$emit('edit', data, hideDetail);
    },

    handleCheck(event) {
      console.log('handleCheck', event.target.checked);
      this.$emit('check', this.data.id, event.target.checked);
    },
  },
};
</script>
