<template>
  <div class="todo-list">
    <v-input class="mb-4" placeholder="Search..." />

    <ul class="todo-list__list">
      <li v-for="item in list" :key="item.id" class="todo-list__list-item">
        <TodoItem
          class="mb-4"
          :id="'todo-' + item.id"
          :data="item"
          @remove="removeTodo"
          @edit="editTodo"
          @check="handleCheckTodo"
        />
      </li>
    </ul>

    <div v-if="checkedList.length" class="todo-list__actions">
      Bulk Action:
      <div>
        <v-button variant="success" class="mr-2" disabled>Done</v-button>
        <v-button variant="danger" @click="removeManyTodo">Remove</v-button>
      </div>
    </div>
  </div>
</template>

<script>
import TodoItem from '~/components/TodoItem';

export default {
  components: {
    TodoItem,
  },

  props: {
    list: {
      type: Array,
      default: () => [],
      validator: (value) =>
        value.every((item) =>
          ['id', 'name', 'description', 'dueDate', 'priority'].every(
            (key) => key in item
          )
        ),
    },
  },

  data() {
    return {
      checkedList: [],
    };
  },

  methods: {
    removeTodo(id) {
      this.$emit('remove-todo', id);
    },

    removeManyTodo() {
      this.$emit('remove-many-todo', this.checkedList);
    },

    editTodo(data, hideDetail) {
      this.$emit('edit-todo', data, hideDetail);
    },

    handleCheckTodo(id, isChecked) {
      if (isChecked) {
        this.checkedList = [...this.checkedList, id];
      } else {
        this.checkedList = this.checkedList.filter((item) => item !== id);
      }
    },
  },
};
</script>
