<template>
  <div id="app" class="container">
    <div class="app-content">
      <div class="row">
        <div class="col-md-5">
          <h2 class="app-title">New Task</h2>
          <TodoForm @submit="addTodo" />
        </div>

        <div class="app-todo-list-wrapper col-md-7">
          <h2 class="app-title">Todo List</h2>
          <TodoList
            :list="sortedList"
            @edit-todo="editTodo"
            @remove-todo="removeTodo"
            @remove-many-todo="removeManyTodo"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import {
  getTodoListFromLocalStorage,
  setTodoListToLocalStorage,
} from '~/utils/data-utils';
import TodoItem from '@/components/TodoItem';
import TodoForm from '@/components/TodoForm';
import TodoList from '@/components/TodoList';

export default {
  components: {
    TodoItem,
    TodoForm,
    TodoList,
  },

  data() {
    const todoList = getTodoListFromLocalStorage() || [];

    return {
      todoList,
    };
  },

  computed: {
    sortedList() {
      const tmp = [...this.todoList];
      return tmp.sort((a, b) =>
        moment(a.dueDate).isBefore(moment(b.dueDate)) ? -1 : 1
      );
    },
  },

  watch: {
    todoList(newValue) {
      setTodoListToLocalStorage(newValue)
    }
  },

  methods: {
    addTodo(data, resetForm) {
      this.todoList = [
        ...this.todoList,
        {
          ...data,
          id: new Date().getTime(),
        },
      ];

      this.$nextTick(() => {
        resetForm()
      })
    },

    editTodo(data, hideDetail) {
      const { id } = data;
      this.todoList = this.todoList.map((item) => {
        if (item.id === id) {
          return data;
        } else {
          return item;
        }
      });

      hideDetail();
    },

    removeTodo(id) {
      this.todoList = this.todoList.filter((item) => item.id !== id);
    },

    removeManyTodo(ids) {
      this.todoList = this.todoList.filter((item) => !ids.includes(item.id));
    },
  },
};
</script>
